.block {
    border: antiquewhite 2px solid;
    border-radius: 2px;
    /*background-color: lightgoldenrodyellow;*/
}

.small-font {
    font-size: xx-small;
}

img {
    width: 312px;
    height: 185px;
}

.quantity {
    color: green;
}